:root {
    --CorTexto: rgb(255, 253, 253);
    --FundoTrasnparentE: none;
    --CorBotao: #c1c3c6;
    --TamanhoTitulo: 1.5rem;
    --CorTitulo: rgba(0, 0, 0, 0.945);
    --EspacoEntreSections: 2rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    overflow-x: hidden;
}

span{
    font-weight: 700;
    color: #008cff;
    font-size: 1rem;
}

.header {
    width: 100vw;
    background-image: url("img/fundo2.png")
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.conteudoMenu{
    text-align: center;
     font-size: 30px;

}
.conteudoMenu h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90px;
    margin: 0 0;
    font-weight: 700;
}
.conteudoMenu h2{ 
    font-family: "Lucida Console", "Courier New", monospace;
}

.conteudoMenu p{
    font-family: "Lucida Console", "Courier New", monospace;

}

.fundo {
    background-image: url("img/fundo2.png");
    width: 100%;
    height: 100%;
    color: white;
}

.conteudoBotoes{
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;

}

.conteudoBotoes a{

    color: white;
    font-size: 20px;
    font-weight: 600;
    background-color: cadetblue;
    padding: 2px 1rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.3s;

}        

/* Tecnologias */

main {
    background-color: rgb(30, 30, 30);
    width: 100vw;
}

.main {
    width: 100%;
    margin: 0 auto;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
   padding:1%;
}

.mainTexto {
    text-align: center;
    margin: 0 1rem;
}

.mainTexto h1 {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 40px;
    color:white;
    font-weight: 600;
}

.mainTexto p {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 1rem;
    color: white;
    font-weight: 300;
}

.divTecnologias {
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    gap: 10px;
    padding: 2rem;
}

.divTecnologias div {
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .5s;
    cursor: pointer;
}

.divTecnologias div:hover {
    transform: translateY(-10px);
    border-bottom: 1px solid white;
}

.divTecnologias div:hover p {
    font-weight: 800;
}


.divTecnologias div p {
    font-size: 80%;
    font-weight: 500;
    margin-bottom: 2rem;
    transition: .5s;
}

.divTecnologias div img {
    width: 100%;
}

/* Sobre min */

.divSobreMin {
    width: 100vw;
    background-image: url("img/fundo.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.fundoSobremin {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.paragrafoSobre{
    font-family: "Lucida Console", "Courier New", monospace;
    max-width: 900px;
}

.fundoSobremin div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 90%;
    gap: 1rem;
}

.fundoSobremin h1 {
    font-family: "Lucida Console", "Courier New", monospace;
    color: white;
    font-weight: 500;
    font-size: 2rem;
    padding: .5rem;
}

.fundoSobremin p {
    font-family: "Lucida Console", "Courier New", monospace;
    overflow-y: auto;
    color: white;
    font-size: 1rem;
}

.gentileza {
    font-weight: 100;
    align-self: flex-end;
    margin-bottom: 1rem;

}

/* Rodapé */

footer{
    background-color: rgb(30, 30, 30);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    flex-wrap: wrap;
}

footer p, a{
    font-family: "Lucida Console", "Courier New", monospace;
    transition: 0.5s;
    text-decoration: none;
    color: white;
    font-size: .8rem;
}

.rodapeInfo{
    font-family: "Lucida Console", "Courier New", monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin-bottom: 1.2rem;
}

footer a:hover{
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: black;
    color: white;
    font-weight: 500;
    padding: 0.2rem 0.9rem;
    border-radius: 2rem;
}